<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripBlog</title>
    <meta name="description" content="">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Johnny">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/all_css.css">
</head>

<body class=" bg-milkyellow">

    <!-- 總導覽列 -->
    <nav class="navbar-head navbar  navbar-expand-lg navbar-dark shadow p-2 rounded bg-bl04">
        <div class="container-fluid">

            <!-- 左邊網站名稱 -->
            <div class="col-2 mb-2">
                <a class="navbar-brand" href="../index.html">
                    <img src="../../static/images/nav_logo_05.svg" class="w-100">
                </a>
            </div>
            <!-- 折疊插件 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- 中間連接清單 -->
                <ul class="navbar-nav mx-auto mb-0 mb-lg-0">

                    <li class="nav-item me-5 d-flex">
                        <a class="nav-link p-0 mt-3 " href="../article_travel.html">
                            <div class="fs-5 fw-bolder ">Travel</div>
                        </a>
                    </li>

                    <li class="nav-item me-5">
                        <a class="nav-link  p-0 mt-3" href="../article_eat.html">
                            <div class="fs-5 fw-bolder ">Eat</div>
                        </a>
                    </li>

                    <li class="nav-item me-5">
                        <a class="nav-link  p-0 mt-3" href="../map_search.html">
                            <div class="fs-5 fw-bolder">MapSearch</div>
                        </a>
                    </li>

                    <li class="nav-item me-5">
                        <a class="nav-link  p-0 mt-3" href="../about.html">
                            <div class="fs-5 fw-bolder">AboutUs</div>
                        </a>
                    </li>

                </ul>


                <!-- 導覽右邊 -->
                <div class="d-flex align-items-center">

                    <!-- 頭像 -->
                    <img src="https://semantic-ui.com/images/avatar2/small/elyse.png" alt="頭貼"
                        class="me-3 rounded-circle" style="width: 3rem;">


                    <!-- 下拉選單 -->
                    <div class="dropdown">
                        <!-- 選單標題 -->
                        <a class="btn  btn-info dropdown-toggle btn-milkyellow text-bl04 fw-bold rounded-pill" href="#"
                            role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            訪客
                        </a>
                        <!-- 選單內容 -->
                        <ul class="dropdown-menu dropdown-menu-end border-5 border-jumpBorderGreen rounded"
                            aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item rounded fw-bold" href="../user/write_article.html">撰寫文章</a></li>
                            <li><a class="dropdown-item rounded fw-bold" href="../user/my_space.html">我的空間</a></li>
                            <li><a class="dropdown-item rounded fw-bold" href="../user/my_notify.html">訊息通知</a></li>
                            <hr class="dropdown-divider rounded fw-bold">
                            <li><a class="dropdown-item rounded fw-bold" href="../user/signup.html">註冊</a></li>
                            <li><a class="dropdown-item rounded fw-bold" href="../user/login.html">登入</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </nav>
    <!-- 結束:總導覽列 -->

    <!-- 會員導航欄 -->
    <div class="card-header d-flex sticky-top bg-gr0201 rounded-3">
        <ul class="nav nav-tabs card-header-tabs h4 mx-auto">
            <li class="nav-item me-3">
                <a class="nav-link " href="my_space.html">Introduce</a>
            </li>

            <li class="nav-item me-3">
                <a class="nav-link " href="my_article_travel.html">MyTravel</a>
            </li>

            <li class="nav-item me-3">
                <a class="nav-link active " href="my_article_eat.html">MyEat</a>
            </li>

            <li class="nav-item me-3">
                <a class="nav-link " href="my_collection.html">MyCollect</a>
            </li>

            <li class="nav-item me-3">
                <a class="nav-link " href="my_profile.html">Edition</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="my_notify.html">Message</a>
            </li>
        </ul>
    </div>
    <!-- 會員導航欄 END-->




    <!-- 尾頁 -->
    <footer class="bg-bl04 py-5">
        <div class="container px-4 px-lg-5 py-2">
            <div class="small text-center text-milkyellow ">
                Copyright &copy; 2021 - TripBlog
            </div>
            <div class="small text-center text-milkyellow ">
                國立臺北科技大學 JAVA 程式設計人才養成班第十七屆 第四組專題
            </div>
        </div>
    </footer>
    <!-- 結束:尾頁 -->


</body>

</html>