<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripBlog MyEat</title>
    <!--csrf防護-->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta name="description" content="MyEat">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Johnny">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../static/js/my_article_eat.js" th:src="@{/js/my_article_eat.js}"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/all_css.css" th:href="@{/css/all_css.css}">
    <!-- 自訂css -->
    <link rel="stylesheet" href="../../static/css/article_style.css" th:href="@{/css/article_style.css}">

</head>
<style>
    @media screen and (max-width: 768px) {
        p, a {
            padding-left: 5px;
        }
    }

    #memberPic {
        width: 6.5vw;
        min-width: 32.5px;
    }

</style>

<body style="background-image: url(../../static/images/background/food_background_03_01.png);">

<!-- 總導覽列 -->
<nav th:replace="fragments :: nav(0)"
     class="navbar-head navbar  navbar-expand-lg navbar-dark shadow p-2 rounded bg-bl04">
    <div class="container-fluid">

        <!-- 左邊網站名稱 -->
        <div class="col-2 mb-2">
            <a class="navbar-brand" href="../index.html">
                <img src="../../static/images/nav_logo_05.svg" class="w-100">
            </a>
        </div>
        <!-- 折疊插件 -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- 中間連接清單 -->
            <ul class="navbar-nav mx-auto mb-0 mb-lg-0">

                <li class="nav-item me-5 d-flex">
                    <a class="nav-link p-0 mt-3 " href="../article_travel.html">
                        <div class="fs-5 fw-bolder ">Travel</div>
                    </a>
                </li>

                <li class="nav-item me-5">
                    <a class="nav-link  p-0 mt-3" href="../article_eat.html">
                        <div class="fs-5 fw-bolder ">Eat</div>
                    </a>
                </li>

                <li class="nav-item me-5">
                    <a class="nav-link  p-0 mt-3" href="../map_search.html">
                        <div class="fs-5 fw-bolder">MapSearch</div>
                    </a>
                </li>

                <li class="nav-item me-5">
                    <a class="nav-link  p-0 mt-3" href="../about.html">
                        <div class="fs-5 fw-bolder">AboutUs</div>
                    </a>
                </li>

            </ul>


            <!-- 導覽右邊 -->
            <div class="d-flex align-items-center">

                <!-- 頭像 -->
                <img src="https://semantic-ui.com/images/avatar2/small/elyse.png" alt="頭貼"
                     class="me-3 rounded-circle" style="width: 3rem;">


                <!-- 下拉選單 -->
                <div class="dropdown">
                    <!-- 選單標題 -->
                    <a class="btn  btn-info dropdown-toggle btn-milkyellow text-bl04 fw-bold rounded-pill" href="#"
                       role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        訪客
                    </a>
                    <!-- 選單內容 -->
                    <ul class="dropdown-menu dropdown-menu-end border-5 border-jumpBorderGreen rounded"
                        aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item rounded fw-bold" href="../user/write_article.html">撰寫文章</a></li>
                        <li><a class="dropdown-item rounded fw-bold" href="../user/my_space.html">我的空間</a></li>
                        <li><a class="dropdown-item rounded fw-bold" href="../user/my_notify.html">訊息通知</a></li>
                        <hr class="dropdown-divider rounded fw-bold">
                        <li><a class="dropdown-item rounded fw-bold" href="../user/signup.html">註冊</a></li>
                        <li><a class="dropdown-item rounded fw-bold" href="loginPage.html">登入</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</nav>
<!-- 結束:總導覽列 -->


<!-- 首頁背景圖 cover photo -->
<div class="container-fluid  overflow-hidden px-0" style="width: auto; height: 400px;">

    <img th:src="${session.user != null && intro.hasBanner ? '/user/introBanner' : '/images/mySpace-bg.svg'}"
         id="mySpaceBannerImg" class="w-100 h-100" alt="還未上傳封面">

</div>
<!-- 首頁背景圖 cover photo 結束-->


<!-- 中間內容 -->
<div class="myspace-middle-container container-fluid py-5 rounded-3">

    <!-- 會員框 -->
    <div class="row mx-5 rounded-3">

        <!-- 頭貼 -->
        <div class="col-1 p-2">
            <!-- 頭像 -->
            <img th:src="${session.user != null && session.user.isHasMemberPic()} ? '/user/memberPic' : @{/images/oman_10_ani_10.svg}" src="https://semantic-ui.com/images/avatar2/small/elyse.png" alt="頭貼"
                 id="memberPic" class="rounded-circle w-100 ms-3 mt-2" style="width: 3rem;">
        </div>

        <!-- 會員暱稱、註冊日期 -->
        <div class="col-7">
            <div class="row h-25"></div>
            <div class="row h-50 ms-2">
                <h3>
                    <span th:text="${session.user.nickname}" class="text-bl04 fw-bold ">會員暱稱</span>
                </h3>
            </div>
        </div>

        <!-- 閱讀資訊 -->
        <div class="col-4 d-none d-lg-flex">
            <ul class="list-group list-group-horizontal align-items-end mb-2">
                <li class="list-group-item text-bl04" style="background-color: transparent; border: none;">總閱讀：
                    <span></span>
                </li>
                <li class="list-group-item text-bl04" style="background-color: transparent; border: none;">總推薦：
                    <span></span>
                </li>
                <li class="list-group-item text-bl04" style="background-color: transparent; border: none;">總收藏：
                    <span></span>
                </li>
            </ul>
        </div>
    </div>


    <!-- nav和內容 -->
    <div class="row px-5 pb-4">

        <div class="col-12">

            <div class="card border border-2 rounded-0 border-top-0">

                <!-- 會員導航欄 -->
                <div th:replace="user/fragments :: userNav(3)"
                     class="card-header d-flex sticky-top bg-gr0201 rounded-3">
                    <ul class="nav nav-tabs card-header-tabs h4 mx-auto">
                        <li class="nav-item me-3">
                            <a class="nav-link " href="my_space.html">Introduce</a>
                        </li>

<!--                        <li class="nav-item me-3">-->
<!--                            <a class="nav-link " href="my_article_travel.html">MyTravel</a>-->
<!--                        </li>-->

                        <li class="nav-item me-3">
                            <a class="nav-link  active disabled " href="my_article_eat.html">MyEat</a>
                        </li>

                        <li class="nav-item me-3">
                            <a class="nav-link " href="my_collection.html">MyCollect</a>
                        </li>

                        <li class="nav-item me-3">
                            <a class="nav-link " href="my_profile.html">Edition</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="my_notify.html">Message</a>
                        </li>
                    </ul>
                </div>
                <!-- 會員導航欄 END-->

                <!-- 篩選列開始-->
                <div class="container">
                    <div class="row justify-content-center" style="margin: 5vh;">

                        <div class="ms-1" style="width:14.5vw">
                            <select id="timeDirect" class="filterloc form-select  border-2 border-bl03 bg-gr0200 rounded-pill"
                                    aria-label="Default select example border-2 border-bl03 bg-gr0200">
                                <option selected value="000">舊--->新</option>
                                <option value=100 >新--->舊</option>
                            </select>
                        </div>

                        <div class="ms-0" style="width:14.5vw">
                            <select class="filtersub form-select border-2 border-bl03 bg-gr0200 rounded-pill"
                                    aria-label="Default select example" id="subject">
                                <option selected value="" >主題分類</option>
                                <option value="美食">美食</option>
                                <option value="旅遊">旅遊</option>
                            </select>
                        </div>


                    </div>
                </div>
                <!-- 篩選列結束-->

                <!-- ##### 文章列表結束 ##### -->


                <div class="container ">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div id="articleBox">
                                <!----文章自動產生--->
                            </div>
                        </div>

                        <!-- 分頁 -->

                        <div class="row justify-content-center">
                            <div id="changePageAll" class="col-1 d-flex  my-3">
                                <select  id="changePageBox" class="col-1 form-select border-bl03 rounded-pill" aria-label="Default select example">

                                </select>
                                <button id="pageSearch"
                                        class="mx-1 btn btn-outline-bl04 btn-bl03 border-2 border-gr0200 rounded-pill text-gr0200 fw-bold"
                                        type="submit">Go</button>
                            </div>
                        </div>

<!--                        <div class="d-flex justify-content-center ">-->
<!--                            <nav aria-label="Page navigation example">-->
<!--                                <ul class="pagination" id="changePageBox">-->
<!--                                    &lt;!&ndash;&#45;&#45;文章自動產生-&ndash;&gt;-->
<!--                                </ul> -->
<!--                            </nav>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>

            <!-- ##### 文章列表開始 ##### -->

        </div>
        <!-- 卡片內容-END -->


    </div>
    <!-- nav和內容-end -->

</div>


<!-- 中間內容END -->


<!-- 尾頁 -->
<footer class="bg-bl04 py-5">
    <div class="container px-4 px-lg-5 py-2">
        <div class="small text-center text-milkyellow ">
            Copyright &copy; 2021 - TripBlog
        </div>
        <div class="small text-center text-milkyellow ">
            國立臺北科技大學 JAVA 程式設計人才養成班第十七屆 第四組專題
        </div>
    </div>
</footer>
<!-- 結束:尾頁 -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>