<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripBlog Signup</title>
    <meta name="description" content="Signup">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Johnny">
    <!--csrf防護-->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/all_css.css" th:href="@{/css/all_css.css}">
    <!--  jquery  -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- js -->
    <script src="../../static/js/signup.js" th:src="@{/js/signup.js}"></script>
</head>

<body>

<!-- 總導覽列 -->
<nav th:replace="fragments :: nav(0)" class="navbar-head navbar  navbar-expand-lg navbar-dark shadow p-2 rounded bg-bl04">
    <div class="container-fluid">

        <!-- 左邊網站名稱 -->
        <div class="col-2 mb-2">
            <a class="navbar-brand" href="../index.html">
                <img src="../../static/images/nav_logo_05.svg" class="w-100" th:src="@{/images/nav_logo_05.svg}">
            </a>
        </div>
        <!-- 折疊插件 -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- 中間連接清單 -->
            <ul class="navbar-nav mx-auto mb-0 mb-lg-0">

                <li class="nav-item me-5 d-flex">
                    <a class="nav-link p-0 mt-3 " href="../article_travel.html">
                        <div class="fs-5 fw-bolder ">Travel</div>
                    </a>
                </li>

                <li class="nav-item me-5">
                    <a class="nav-link  p-0 mt-3" href="../article_eat.html">
                        <div class="fs-5 fw-bolder ">Eat</div>
                    </a>
                </li>

                <li class="nav-item me-5">
                    <a class="nav-link  p-0 mt-3" href="../map_search.html">
                        <div class="fs-5 fw-bolder">MapSearch</div>
                    </a>
                </li>

                <li class="nav-item me-5">
                    <a class="nav-link  p-0 mt-3" href="../about.html">
                        <div class="fs-5 fw-bolder">AboutUs</div>
                    </a>
                </li>

            </ul>


            <!-- 導覽右邊 -->
            <div class="d-flex align-items-center">

                <!-- 頭像 -->
                <img src="https://semantic-ui.com/images/avatar2/small/elyse.png" alt="頭貼"
                     class="me-3 rounded-circle" style="width: 3rem;">


                <!-- 下拉選單 -->
                <div class="dropdown">
                    <!-- 選單標題 -->
                    <a class="btn  btn-info dropdown-toggle btn-milkyellow text-bl04 fw-bold rounded-pill" href="#"
                       role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        訪客
                    </a>
                    <!-- 選單內容 -->
                    <ul class="dropdown-menu dropdown-menu-end border-5 border-jumpBorderGreen rounded"
                        aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item rounded fw-bold" href="../user/write_article.html">撰寫文章</a></li>
                        <li><a class="dropdown-item rounded fw-bold" href="../user/my_space.html"
                               th:href="@{/user/profile}">我的空間</a></li>
                        <li><a class="dropdown-item rounded fw-bold" href="../user/my_notify.html">訊息通知</a></li>
                        <hr class="dropdown-divider rounded fw-bold">
                        <li><a class="dropdown-item rounded fw-bold" href="../user/signup.html"
                               th:href="@{/user/signup}">註冊</a></li>
                        <li><a class="dropdown-item rounded fw-bold" href="loginPage.html" th:href="@{/user/login}">登入</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</nav>
<!-- 結束:總導覽列 -->


<!-- 註冊 -->
<div class="container" style="background-image: url(../../static/images/signup-bg.svg);"
     th:style="'background-image:url(' + @{/images/signup-bg.svg} + ');'">
    <section class="page-section pt-4">
        <div class="container px-4 px-lg-5">
            <!-- 表單標題 -->
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center text-bl04 fw-bold">
                    <h2 class="mt-0">會員註冊</h2>
                    <hr class="divider border-2 border-bl04"/>
                    <p class=" mb-5 ">
                        現在就開始紀錄和分享旅遊生活吧!
                        <br>
                        各種新鮮有趣的事物也正等著您去探索
                    </p>
                </div>
            </div>


            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6 bg-milkyellow shadow rounded-3">

                    <form action="#" method="post" th:action="@{/user/signup}" th:object="${user}">

                        <!-- Name input-->
                        <div class="form-floating mb-3 my-4">
                            <input class="form-control " id="name" name="name" type="text"
                                   placeholder="Enter your name..." minlength="1" maxlength="20" />
                                   <label for="name" class="text-bl04 fw-bold">姓名</label>
                            <span class="erName" style="color: red;"></span>
                        </div>

                        <!-- Nickname input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="nickname" name="nickname" type="text"
                                   placeholder="Enter your nickname..." minlength="1" maxlength="20"/>
                            <label for="nickname" class="text-bl04 fw-bold">暱稱</label>
                            <span class="erNickName" style="color: red;"></span>
                        </div>

                        <!-- Gender input -->
                        
                        <div class="form-floating mb-3 py-3 text-start border border-1 rounded bg-white gender" >
                            <span class="ms-2 me-3 text-bl04 fw-bold">性別</span>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="male" required>
                                <label class="form-check-label text-bl04 fw-bold" for="male">男生</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="female"
                                       value="female" required>
                                <label class="form-check-label text-bl04 fw-bold" for="female">女生</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="unknow"
                                       value="unknow" required>
                                <label class="form-check-label text-bl04 fw-bold" for="unknow">其他</label>
                                <div class="invalid-feedback">More example invalid feedback text</div>
                            </div>
                            <span class="erGender" style="color: red;"></span>
                        </div>


                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" name="email" type="email"
                                   placeholder="name@example.com" />
                            <label for="email" class="text-bl04 fw-bold">信箱</label>
                            <span class="erEmail" style="color: red;"></span>
                        </div>

                        <!-- Account input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="username" name="username" type="text"
                                   placeholder="123456789" minlength="4" maxlength="20"/>
                            <label for="username" class="text-bl04 fw-bold">帳號 : 4~20英文數字</label>
                            <span class="erUsername" style="color: red;"></span>
                        </div>

                        <!-- Password input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" name="password" type="password"
                                   placeholder="***********" maxlength="36"
                                   pattern="^(?=.*[a-zA-Z])(?=.*[0-9]).{6,36}$"/>
                            <!--至少要使用 6 個位元，至少使用一個英文字元，至少使用一個數字-->
                            <label for="password" class="text-bl04 fw-bold">密碼 : 6~36英文數字</label>
                            <span class="erPassword" style="color: red;"></span>
                        </div>

                        <!--Check password-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="confirmPassword" name="confirmPassword" type="password"
                                   placeholder="確認密碼" maxlength="20" pattern="^(?=.*[a-zA-Z])(?=.*[0-9]).{6,20}$"/>
                            <label for="confirmPassword" class="text-bl04 fw-bold">密碼確認</label>
                            <span class="erConfirmPassword" style="color: red;"></span>
                        </div>

                        <!-- Submit Button-->
                        <div class="d-grid w-50 mt-4 mx-auto">
                            <button
                                    class="btn btn-light btn-lg mb-4  border-2 border-bl03 rounded-pill text-bl03 fw-bold"
                                    id="submitButton" type="button">提交
                            </button>
                        </div>

                        <!--錯誤提示-->
                        <div id="message" class=" text-center mb-4 fs-4"></div>

                    </form>

                </div>
            </div>
        </div>
    </section>
</div>

<!-- 註冊-end -->

<!-- 尾頁 -->
<footer class="bg-bl04 py-5">
    <div class="container px-4 px-lg-5 py-2">
        <div class="small text-center text-milkyellow ">
            Copyright &copy; 2021 - TripBlog
        </div>
        <div class="small text-center text-milkyellow ">
            國立臺北科技大學 JAVA 程式設計人才養成班第十七屆 第四組專題
        </div>
    </div>
</footer>
<!-- 結束:尾頁 -->


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>