<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripBlog PasswordForgot</title>
    <meta name="description" content="reset password">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Johnny">
    <!--csrf防護-->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/all_css.css" th:href="@{/css/all_css.css}">
    <!--  jquery  -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!--js-->
    <script src="../static/js/forgotPassword.js" th:src="@{/js/forgotPassword.js}"></script>
</head>

<body class=" bg-milkyellow">

    <!-- 總導覽列 -->
    <nav th:replace="fragments :: nav(0)" class="navbar-head navbar  navbar-expand-lg navbar-dark shadow p-2 rounded bg-bl04">
        <div class="container-fluid">

            <!-- 左邊網站名稱 -->
            <div class="col-2 mb-2">
                <a class="navbar-brand" href="../index.html">
                    <img src="../../static/images/nav_logo_05.svg" class="w-100">
                </a>
            </div>
            <!-- 折疊插件 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- 中間連接清單 -->
                <ul class="navbar-nav mx-auto mb-0 mb-lg-0">

                    <li class="nav-item me-5 d-flex">
                        <a class="nav-link p-0 mt-3 " href="../article_travel.html">
                            <div class="fs-5 fw-bolder ">Travel</div>
                        </a>
                    </li>

                    <li class="nav-item me-5">
                        <a class="nav-link  p-0 mt-3" href="../article_eat.html">
                            <div class="fs-5 fw-bolder ">Eat</div>
                        </a>
                    </li>

                    <li class="nav-item me-5">
                        <a class="nav-link  p-0 mt-3" href="../map_search.html">
                            <div class="fs-5 fw-bolder">MapSearch</div>
                        </a>
                    </li>

                    <li class="nav-item me-5">
                        <a class="nav-link  p-0 mt-3" href="../about.html">
                            <div class="fs-5 fw-bolder">AboutUs</div>
                        </a>
                    </li>

                </ul>


                <!-- 導覽右邊 -->
                <div class="d-flex align-items-center">

                    <!-- 頭像 -->
                    <img src="https://semantic-ui.com/images/avatar2/small/elyse.png" alt="頭貼"
                        class="me-3 rounded-circle" style="width: 3rem;">


                    <!-- 下拉選單 -->
                    <div class="dropdown">
                        <!-- 選單標題 -->
                        <a class="btn  btn-info dropdown-toggle btn-milkyellow text-bl04 fw-bold rounded-pill" href="#"
                            role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            訪客
                        </a>
                        <!-- 選單內容 -->
                        <ul class="dropdown-menu dropdown-menu-end border-5 border-jumpBorderGreen rounded"
                            aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item rounded fw-bold" href="../user/write_article.html">撰寫文章</a></li>
                            <li><a class="dropdown-item rounded fw-bold" href="../user/my_space.html">我的空間</a></li>
                            <li><a class="dropdown-item rounded fw-bold" href="../user/my_notify.html">訊息通知</a></li>
                            <hr class="dropdown-divider rounded fw-bold">
                            <li><a class="dropdown-item rounded fw-bold" href="../user/signup.html">註冊</a></li>
                            <li><a class="dropdown-item rounded fw-bold" href="../user/login.html">登入</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </nav>
    <!-- 結束:總導覽列 -->
    <!-- _______________________________________________________________________________ -->


    <!-- 改密碼 -->
    <main class="d-flex align-items-center min-vh-100 py-md-0 py-sm-2">
        <div class="container">
            <div class="card login-card shadow p-3">
                <div class="row no-gutters">
                    <!-- 左邊圖示 -->

                    <div class="col-md-7 align-content-center">
                        <a href="#">
                            <img src="../static/images/forgotPassword-bg.svg" alt="login"
                                class="login-card-img w-100" th:src="@{/images/forgotPassword-bg.svg}">
                        </a>
                    </div>
                    <!-- 右邊欄位 -->
                    <div class="col-md-5">
                        <div class="card-body">
                            <!-- logo -->
                            <div class="brand-wrapper text-center">
                                <img src="../static/images/logo.png" alt="logo" class="logo" style="width: 100px;"
                                    th:src="@{/images/logo.png}">

                            </div>

                            <!-- 登入表單 -->
                            <form action="#">
                                <h3 class="text-center my-3 text-bl04 fw-bold">忘記密碼</h3>
                                <div class="form-group mb-4">
                                    <input type="email" name="email" id="email"
                                        class="form-control border-2 border-bl03 bg-gr0200 rounded-pill"
                                        placeholder="會員信箱" required />
                                </div>

                                <div class="form-group mb-4 text-center">
                                    <input type="text" name="code" id="code"
                                           class="form-control border-2 border-bl03 bg-gr0200 rounded-pill mb-2"
                                           placeholder="驗證碼">
                                    <img id="imageCode" src="/captcha/code"><a href="#" id="changeCode">重新獲取</a>
                                </div>

                                <div class="form-group text-center">
                                    <a id="cancel"
                                        class="btn  btn-block mb-4 me-5 btn-pk03 border-2 border-gr0200 rounded-pill text-gr0200 fw-bold"
                                        th:href="@{/}">返回</a>

                                    <input name="submit" id="submit"
                                        class="btn btn-block mb-4 btn-bl03 border-2 border-gr0200 rounded-pill text-gr0200 fw-bold"
                                        type="submit" value="確認">
                                </div>

                            </form>

                            <div class="alert alert-info mx-auto text-center w-50 fw-bolder" role="alert">
                                每日發送次數限制三次
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- 登入-end -->

    <!-- 尾頁 -->
    <footer th:replace="fragments :: footer" class="bg-bl04 py-5">
        <div class="container px-4 px-lg-5 py-2">
            <div class="small text-center text-milkyellow ">
                Copyright &copy; 2021 - TripBlog
            </div>
            <div class="small text-center text-milkyellow ">
                國立臺北科技大學 JAVA 程式設計人才養成班第十七屆 第四組專題
            </div>
        </div>
    </footer>
    <!-- 結束:尾頁 -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>