<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripBlog Login</title>
    <meta name="description" content="LoginPage">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Johnny">
    <!--csrf防護-->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../static/css/all_css.css" th:href="@{/css/all_css.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!--  jquery  -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>

<!-- 總導覽列 -->
<nav th:replace="fragments :: nav(0)"
     class="navbar-head navbar  navbar-expand-lg navbar-dark shadow p-2 rounded bg-bl04">
    <div class="container-fluid">

        <!-- 左邊網站名稱 -->
        <div class="col-2 mb-2">
            <a class="navbar-brand" href="../index.html">
                <img src="../../static/images/nav_logo_05.svg" class="w-100" th:src="@{/images/nav_logo_05.svg}">
            </a>
        </div>
        <!-- 折疊插件 -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- 中間連接清單 -->
            <ul class="navbar-nav mx-auto mb-0 mb-lg-0">

                <li class="nav-item me-5 d-flex">
                    <a class="nav-link p-0 mt-3 " href="../article_travel.html">
                        <div class="fs-5 fw-bolder ">景點</div>
                    </a>
                </li>

                <li class="nav-item me-5">
                    <a class="nav-link  p-0 mt-3" href="../article_eat.html">
                        <div class="fs-5 fw-bolder ">美食</div>
                    </a>
                </li>

                <li class="nav-item me-5">
                    <a class="nav-link  p-0 mt-3" href="../map_search.html">
                        <div class="fs-5 fw-bolder">地圖</div>
                    </a>
                </li>

                <li class="nav-item me-5">
                    <a class="nav-link  p-0 mt-3 active" href="../map_search.html">
                        <div class="fs-5 fw-bolder">商城</div>
                    </a>
                </li>

                <li class="nav-item me-5">
                    <a class="nav-link  p-0 mt-3" href="../about.html">
                        <div class="fs-5 fw-bolder">關於</div>
                    </a>
                </li>

            </ul>


            <!-- 導覽右邊 -->
            <div class="d-flex align-items-center">

                <!-- 頭像 -->
                <img src="https://semantic-ui.com/images/avatar2/small/elyse.png" alt="頭貼"
                     class="me-3 rounded-circle" style="width: 3rem;">


                <!-- 下拉選單 -->
                <div class="dropdown">
                    <!-- 選單標題 -->
                    <a class="btn  btn-info dropdown-toggle btn-milkyellow text-bl04 fw-bold rounded-pill" href="#"
                       role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        訪客
                    </a>
                    <!-- 選單內容 -->
                    <ul class="dropdown-menu dropdown-menu-end border-5 border-jumpBorderGreen rounded"
                        aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item rounded fw-bold" href="../user/write_article.html">撰寫文章</a></li>
                        <li><a class="dropdown-item rounded fw-bold" href="../user/my_space.html"
                               th:href="@{/user/profile}">我的空間</a></li>
                        <li><a class="dropdown-item rounded fw-bold" href="../user/my_notify.html">訊息通知</a></li>
                        <li><a class="dropdown-item rounded fw-bold" href="">購物清單</a></li>
                        <hr class="dropdown-divider rounded fw-bold">
                        <li><a class="dropdown-item rounded fw-bold" href="../user/signup.html"
                               th:href="@{/user/signup}">註冊</a></li>
                        <li><a class="dropdown-item rounded fw-bold" href="loginPage.html"
                               th:href="@{/user/login}">登入</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</nav>
<!-- 結束:總導覽列 -->

    
    <!-- 已購買清單 -->
    <main class="d-flex align-items-center py-md-0 py-sm-2 my-5" style="height: 70vh;margin-top: 20%;">
        <div class="container">

          <div class="card shadow p-3 d-flex flex-wrap align-content-center my-5">

                  <div class="d-flex justify-content-center align-content-center align-items-center">
                      <h2 class="mx-3" >已購買商品</h2>
                  </div>



              <div class="container m-5">
                <div class="row d-flex">
                    <table class="table table-striped table-hover" id="table"
                           data-toggle="table"
                           data-sortable="true"
                           data-sort-class="table-active"
                           data-pagination="true"
                           data-search="true"
                           data-show-search-clear-button="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-show-columns-toggle-all="true">
                        <thead>
                        <tr>
                            <th scope="col" class="sortable both" data-field="Id" data-sortable="true">商品編號</th>
                            <th scope="col" class="sortable both" data-field="orderTime"  data-sortable="true">購買日期</th>
                            <th scope="col" class="sortable both" data-field="ShippingStatus"  data-sortable="true">出貨狀態</th>
                            <th scope="col" class="sortable both" data-field="total"  data-sortable="true">金額</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="productOrder : ${productOrderList}">
                            <th th:text="${productOrder.id}" scope="row">1</th>
                            <td th:text="${#dates.format(productOrder.orderTime, 'yyyy-MM-dd HH:mm')}">date</td>
                            <td th:text="${productOrder.orderStatus == -1} ? '待出貨' : (${productOrder.orderStatus == 0} ? '運送中' : '已收件')">待出貨</td>
                            <td><span th:text="${productOrder.amounts}">10</span>TWD</td>
                        </tr>


                        </tbody>
                    </table>
                    <hr style="box-sizing:border-box">
                    <div class="d-flex justify-content-end">

                    </div>
                  </div>
                </div>


              <div class="row justify-content-center align-items-center align-content-center">
                  <div class="col-7 mx-5 w-25">
                      <div class="btn btn-info form-control fs-5">
                          返回
                      </div>
                  </div>
              </div>


            </div>


        </div>





    </main>
    <!-- 登入-end -->

    <!-- 尾頁 -->
    <footer class="bg-bl04 py-5">
        <div class="container px-4 px-lg-5 py-2">
            <div class="small text-center text-milkyellow ">
                Copyright &copy; 2021 - TripBlog
            </div>
            <div class="small text-center text-milkyellow ">
                國立臺北科技大學 JAVA 程式設計人才養成班第十七屆 第四組專題
            </div>
        </div>
    </footer>
    <!-- 結束:尾頁 -->


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>



        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
     

</body>

</html>


